body {
  background-color: #121212;
  color: #fff;
}

.main-section {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.main-section h1 {
  font-size: 3.5rem;
  margin-top: -5vh;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
}

.main-section p {
  font-size: 1.5rem;
  color: #aaa; /* Lighter text for tagline */
}

/* Inherit .page-section styles or define globally */
.page-section {
  min-height: 100vh;
  padding: 60px 20px;
}

.contact-section {
  min-height: 50vh; /* Shorter section example */
  text-align: center;
}

/* Inherit .page-section styles or define globally */
.page-section {
  min-height: 100vh;
  padding: 60px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}