body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* White text */
}

body {
    background-color: #000;
    background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 30px),
                      radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
                      radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
                      radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #1a1a1a; /* Slightly lighter than the background for contrast */
}

nav {
    display: flex;
    gap: 2rem;
}

.social-media {
    display: flex;
    gap: 1rem;
}

.social-media a {
    width: 40px;
    height: 40px;
    display: block;
    background-color: #2a2a2a; /* Placeholder background for social media icons */
    border-radius: 50%;
}

h1 {
    text-align: center;
    margin-top: 7%;
    font-size: 3rem;
}
