---
// Import the CSS file
---

<header>
    <script type="module" src="https://cdn.jsdelivr.net/npm/three@0.157.0/build/three.js"></script>
    <script type = "module" src="/Scripts/StarryBackground.js" is:inline></script>
    <link rel="stylesheet" type ="text/css" href="/Scripts/stylesAbout.css"> <!-- Link to the CSS file -->
    
    
    
      <nav>
        <a href="/projects" class = 'projects'>PROJECTS</a>
        <a href="/" class = 'index'>HOME</a>
      </nav>
      <div class="social-media">
    
        <a href="https://www.linkedin.com/in/billstein3714982">
          <img src="/photos/linkedin.png" alt="LinkedIn" width="40" height="40">
      </a>
      <a href="https://github.com/BillSteinUNB">
        <img src="/photos/github.png" alt="Github" width="40" height="40">
        <a href="mailto:billsteinm03@gmail.com">
          <img src="/photos/gmail.png" alt="Email" width="40" height="40">
      </a>
        <a href="/Bill Stein Resume.pdf" download>
          <img src="/photos/Resume.png" alt="Download PNG" width="40" height="40">
      </a>
      </div>
    </header>
    
    <main>
      <h1>ABOUT PAGE</h1>
    </main>

    <section class="about-section">
      <div class="about-content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ducimus et quia, accusamus dolorem labore eveniet quae a, repellat amet libero doloremque enim, earum voluptatum assumenda? Sit id iste alias.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id tenetur non repudiandae maiores natus sit ducimus rerum culpa nisi nesciunt. Accusamus dolore incidunt perspiciatis ipsam. Debitis magnam ex tempore ipsa.
          </p>
      </div>
      <div class="placeholder-box"></div>
  </section>
  
    