---
// Import the CSS file
---

<header>
<script type="module" src="https://cdn.jsdelivr.net/npm/three@0.157.0/build/three.js"></script>
<script type = "module" src="/StarryBackground.js" is:inline></script>
<link rel="stylesheet" type ="text/css" href="/styles.css"> <!-- Link to the CSS file -->



  <nav>
    <a href="/projects" class = 'projects'>PROJECTS</a>
    <a href="/about" class = "about">ABOUT</a>
  </nav>
  <div class="social-media">

    <a href="https://www.linkedin.com/in/billstein3714982">
      <img src="/linkedin.png" alt="LinkedIn" width="40" height="40">
  </a>
    <a href="mailto:billsteinm03@gmail.com">
      <img src="/gmail.png" alt="Email" width="40" height="40">
  </a>
    <a href="/Bill Stein Resume.pdf" download>
      <img src="Resume.png" alt="Download PNG" width="40" height="40">
  </a>
  </div>
</header>

<main>
  <h1>BILL STEIN</h1>
</main>
