---
// Import the CSS file
---

<header>
<script type="module" src="https://cdn.jsdelivr.net/npm/three@0.157.0/build/three.js"></script>
<script type = "module" src="/Scripts/StarryBackground.js" is:inline></script>
<link rel="stylesheet" type ="text/css" href="/Scripts/styles.css"> <!-- Link to the CSS file -->



  <nav>
    <a href="/projects" class = 'projects'>PROJECTS</a>
    <a href="/about" class = "about">ABOUT</a>
  </nav>
  <div class="social-media">

    <a href="https://www.linkedin.com/in/billstein3714982">
      <img src="/photos/linkedin.png" alt="LinkedIn" width="40" height="40">
  </a>
    <a href="mailto:billsteinm03@gmail.com">
      <img src="/photos/gmail.png" alt="Email" width="40" height="40">
  </a>
    <a href="/Bill Stein Resume.pdf" download>
      <img src="/photos/Resume.png" alt="Download PNG" width="40" height="40">
  </a>
  </div>
</header>

<main>
  <h1>BILL STEIN</h1>

    <!--PLANET STUFF -->
    <div class="scene">
      <div class="planet" id="planet1" data-color="Blue">
          <h2>Blue Planet</h2>
          <img src="/Space/BluePlanet.png" alt="Blue Planet">
          <p>Description for Blue Planet</p>
      </div>
      <div class="planet" id="planet2" data-color="Green">
          <h2>Green Planet</h2>
          <img src="/Space/GreenPlanet.png" alt="Green Planet">
          <p>Description for Green Planet</p>
      </div>
      <div class="planet" id="planet3" data-color="Orange">
          <h2>Orange Planet</h2>
          <img src="/Space/OrangePlanet.png" alt="Orange Planet">
          <p>Description for Orange Planet</p>
      </div>
      <div class="planet" id="planet4" data-color="Pink">
          <h2>Pink Planet</h2>
          <img src="/Space/PinkPlanet.png" alt="Pink Planet">
          <p>Description for Pink Planet</p>
      </div>
      <div class="planet" id="planet5" data-color="Purple">
          <h2>Purple Planet</h2>
          <img src="/Space/PurplePlanet.png" alt="Purple Planet">
          <p>Description for Purple Planet</p>
      </div>
      <div class="planet" id="planet6" data-color="Red">
          <h2>Red Planet</h2>
          <img src="/Space/RedPlanet.png" alt="Red Planet">
          <p>Description for Red Planet</p>
      </div>
      <div class="planet" id="planet7" data-color="Turquoise">
          <h2>Turquoise Planet</h2>
          <img src="/Space/TurquoisePlanet.png" alt="Turquoise Planet">
          <p>Description for Turquoise Planet</p>
      </div>
      <div class="planet" id="planet8" data-color="Yellow">
          <h2>Yellow Planet</h2>
          <img src="/Space/YellowPlanet.png" alt="Yellow Planet">
          <p>Description for Yellow Planet</p>
      </div>
      <img src="/Space/Rocket.png" alt="Rocket" id="rocket">
      <button id="leftArrow">←</button>
      <button id="rightArrow">→</button>
  </div>

<!--PLANET STUFF -->

</main>
<script type = "module" src="/Scripts/SpaceTravel.js" is:inline></script>
