body {
    margin: 0;
    padding: 0;
    font-family: 'SpaceFont';
    background-color: transparent; /* Dark background */
    color: white; /* White text */
    min-height: 100vh;
    margin-bottom: 200px !important;
    
}
body h1{
    text-shadow: 0 0 5px #404040, 0 0 10px #404040, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff;
}

canvas {
    display: block;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: transparent; /* Slightly lighter than the background for contrast */
}

@font-face {
    font-family: SpaceFont;
    src: url('/SpaceFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    transition: text-shadow 0.2s ease;
    margin-right: 0px;  /* This will add space between the links */
}

nav a:hover{
    text-decoration: underline;
    color: pink;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00ff, 0 0 20px #ff00ff, 0 0 25px #ff00ff;
}



.social-media {
    display: flex;
    gap: 1rem;
}

.social-media a {
    width: 40px;
    height: 40px;
    display: block;
    background-color: white; /* Placeholder background for social media icons */
    border-radius: 50%;
}
.social-media a:hover{
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00ff, 0 0 20px #ff00ff, 0 0 25px #ff00ff;
}

h1 {
    text-align: center;
    margin-top: 7%;
    font-size: 3rem;
    background:  transparent !important;
}

.scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: visible;
    height: 500px; /* Adjust as needed */
}

.planet {
    display: none; /* Initially hide all planets */
    position: absolute;
    top: 135%;
    left: 47%;
    transform: translate(-50%, -50%);
    padding-bottom: 300px;
    scale: .9;
    overflow: visible;
    
}

#planet1 {
    display: block; /* Show the first planet */

    
}

#rocket {
    position: absolute;
    bottom: -65%; /* Adjust as needed */
    left: -25%;
    transform: rotate(83deg);
    scale: .35;
    transition: left 1s ease, transform 1s ease;
}

#leftArrow, #rightArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: wheat;
    border: none;
    cursor: pointer;
    scale: .6;
}

#leftArrow {
    left: 10px;
}

#rightArrow {
    right: 10%;
}



