body {
    margin: 0;
    padding: 0;
    font-family: 'SpaceFont';
    background-color: transparent; /* Dark background */
    color: #ffffff; /* White text */
    min-height: 100vh;
    margin-bottom: 200px !important;
    overflow-x: hidden;
    
}
body h1{
    text-shadow: 0 0 5px #404040, 0 0 10px #404040, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff;
}

canvas {
    display: block;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: transparent; /* Slightly lighter than the background for contrast */
}

@font-face {
    font-family: SpaceFont;
    src: url('/SpaceFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    transition: text-shadow 0.2s ease;
    margin-right: 0px;  /* This will add space between the links */
}

nav a:hover{
    text-decoration: underline;
    color: pink;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00ff, 0 0 20px #ff00ff, 0 0 25px #ff00ff;
}



.social-media {
    display: flex;
    gap: 1rem;
}

.social-media a {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: white; /* Placeholder background for social media icons */
    border-radius: 50%;
    overflow: hidden;
}
.social-media a img {
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scaling and glowing */
}

.social-media a:hover {
    transform: scale(1.2);
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff; /* Glow effect */
}

.social-media a:hover img {
    transform: scale(1.2); /* Increase the size by 10% on hover */
}


h1 {
    text-align: center !important;
    margin-top: 7%;
    font-size: 3rem;
    background:  transparent !important;
}

.scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: visible;
    height: 500px; /* Adjust as needed */
}

.planet {
    display: none; /* Initially hide all planets */
    position: absolute;
    top: 145%;
    left: 47%;
    transform: translate(-50%, -50%);
    padding-bottom: 300px;
    scale: .9;
    overflow: visible;
    
}
.planet h2{
    position: absolute;
    left: 48%;
    transform:translateX(-50%) !important;
    animation: titlePop 2s forwards; 
    overflow: visible;
    white-space: nowrap;
}
.planet p{
    position: absolute;
    left: 48%;
    transform:translateX(-50%) !important;
    font-size: 22px;
    width:900px;
}

#planet1 {
    display: block; /* Show the first planet */

    
}

#rocket {
    position: absolute;
    bottom: -65%; /* Adjust as needed */
    left: -25%;
    transform: rotate(83deg);
    scale: .35;
    transition: left 1s ease, transform 1s ease;
}

#leftArrow, #rightArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: wheat;
    border: none;
    cursor: pointer;
    scale: .6;
}


@keyframes titlePop {
    0% {
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: -5%; /* Adjust this value based on your design */
        transform: translateY(0);
        opacity: 1;
        justify-content: center !important;
        
    }
}

#leftArrow, #rightArrow {
    /* ... other styles ... */
    background: none; /* remove any background color */
    border: none; /* remove any borders */
    padding: 0; /* remove padding */
    position: absolute;
    top: 100% !important;
    
}

#leftArrow img, #rightArrow img {
    width: 110px; /* adjust as needed */
    height: 110px; /* adjust as needed */
    
}

#leftArrow img {
    transform: rotate(-45deg); /* rotate counter-clockwise */
}

#rightArrow img {
    transform: rotate(45deg); /* rotate clockwise */
}

#rightArrow{
    right: 5% !important;
}
#leftArrow{
    left: 5% !important;
}

img {
    pointer-events: none;
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
   
}

/* Styles for 1440p monitors */
@media screen and (min-width: 2560px) and (min-height: 1440px) {
    
}




